@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@400;700&family=Open+Sans&family=Raleway:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 99vw;
    font-family: 'Marhey', sans-serif;
    font-weight: 400;
    background-color: rgb(186, 70, 250);
}
h1{
    font-family: 'Marhey', sans-serif;
    font-weight: 700;
}
a{
    text-decoration: none;
}
.head{
    display: flex;
    height: 10%;
    justify-content: baseline;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgba(125, 69, 250, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: rgba(70, 72, 250, 0.5) solid 5px;
}
.head img{
    width: 100px;
    height: 100px;
}
.head .box{
    background-color: rgba(186, 70, 250, 0.5);
    padding: 25px;
    outline: rgba(70, 72, 250,0.5) solid 5px;
    border-radius: 25px;
    margin: 10px;
    font-size: 20px;
}
main{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.opis{
    padding-bottom: 100px;
}
.nadproduktami{
    text-align: center;
}
main .produkty{
    display: flex;
    overflow-x: scroll;
    text-align: center;
}
main .produkty .box2{
    width: 20%;
    margin: 20px;
    height: 500px;
    padding: 10px;
    min-width: 300px;
}
main .produkty .box2 a img{
    width: 90%;
    height: 90%;
}
main .produkty .box2 a p{
    margin-top: -1px;
}
main .oceny{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
main .oceny .box3{
    border:  rgba(125, 69, 250, 0.9) 5px solid;
    background-color: rgba(245, 70, 250, 0.5);
    border-radius: 25px;
    height: 500px;
    width: 300px;
    padding: 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    background-color: #4648FA;
    height: 200px;
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 100px;
}
footer .box4 ul li{
    list-style-type: none;
}
.produkt{
    display: flex;
    border: rgb(70, 72, 250) solid 5px;
    border-radius: 25px;
    height: 300px;
    padding: 50px;
    margin-top: 100px;
}
.produkt .lewo{
    width: 30%;
}
.produkt .lewo img{
    height: 300px;
}
.produkt .prawo{
    width: 60%;
    float: right;
}
.kontakt img{
    height: 100px;
}
.kontakt:first-child img{
    padding-bottom: -10px;
}
.kontakt{
    font-size: 100px;
}